Options -Indexes
RewriteEngine On

RewriteRule ^index\.php$ - [L]

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

RewriteCond %{REQUEST_URI} ^/abnehm-app/
RewriteRule ^ /abnehm-app/index.php [QSA,L]

RewriteRule ^ index.php [QSA,L]
